<div class="loading-indicator" *ngIf="isLoading">
  <p-progressSpinner
    [style]="{ width: '80px', height: '80px' }"
    strokeWidth="5"
    animationDuration=".8s"
  ></p-progressSpinner>
</div>
<div class="row detail-edit-header">
  <div class="col-sm-4">
    <h1 *ngIf="normNumber">{{ normNumber }}</h1>
    <h1 *ngIf="!normNumber" i18n="@@string-new-dataset">
      Datensatz erstellen
    </h1>
  </div>
  <div class="col-sm-8 text-right">
    <app-crud-nav
      [formMode]="formMode"
      [validForm]="normForm.valid"
      [dirtyForm]="normForm.dirty"
      [routeNew]="'/document/new'"
      [editable]="editable"
      (save)="onSubmit()"
      (add)="onSubmit()"
      (edit)="onEdit()"
      (delete)="deleteDocument()"
    ></app-crud-nav>
  </div>
</div>

<form class="form" (ngSubmit)="onSubmit()" #normForm="ngForm">
  <input type="hidden" [(ngModel)]="formMode" name="formMode" />
  <input type="hidden" [(ngModel)]="id" name="_id" />
  <input type="hidden" [(ngModel)]="rev" name="_rev" />
  <p-tabView
    [(activeIndex)]="selectedTab"
    (onChange)="selectedTab = $event.index"
  >
    <p-tabPanel header="Stammdaten">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group row">
                <label
                  for="normNumber"
                  class="col-sm-6 col-form-label"
                  i18n="@@string-number-dataset"
                  >Nummer</label
                >
                <div class="col-sm-6">
                  <input
                    type="text"
                    class="form-control"
                    i18n-placeholder
                    placeholder="Nummer"
                    [(ngModel)]="normNumber"
                    name="normNumber"
                    required
                    [readOnly]="!editable"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group row">
                <label
                  class="col-sm-4 col-form-label"
                  i18n="@@string-revision-dataset"
                  >Revision</label
                >
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    i18n-placeholder
                    placeholder="Revision"
                    [(ngModel)]="revision"
                    name="revision"
                    required
                    [readOnly]="!editable"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-8">
              <div class="form-group row">
                <label
                  class="col-sm-6 col-form-label"
                  i18n="@@string-distributor-dataset"
                  >Herausgeber</label
                >
                <div class="col-sm-6">
                  <select
                    class="form-control"
                    [(ngModel)]="publisherId"
                    name="publisherId"
                  >
                    <option value="">Herausgeber wählen</option>
                    <option
                      *ngFor="let item of publishers"
                      [value]="item['_id']"
                      [selected]="item['_id'] == publisherId"
                    >
                      {{ item['name'] }}
                    </option>
                  </select>
                </div>
              </div>
            </div> -->
          <div class="form-group row">
            <label
              class="col-sm-4 col-form-label"
              for="revisionDate"
              i18n="@@string-date-dataset"
              >Datum</label
            >
            <div class="col-sm-4">
              <p-calendar
                [(ngModel)]="revisionDate"
                [showIcon]="false"
                [inline]="false"
                dateFormat="dd.mm.yy"
                id="revisionDate"
                name="revisionDate"
                required
                [disabled]="!editable"
              ></p-calendar>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-sm-4 col-form-label"
              i18n="@@string-language-dataset"
              >Sprache</label
            >
            <div class="col-sm-8">
              <p-selectButton
                [options]="[
                  {
                    label: 'de',
                    value: 'de'
                  },
                  {
                    label: 'en',
                    value: 'en'
                  },
                  {
                    label: 'fr',
                    value: 'fr'
                  }
                ]"
                name="normLanguage"
                [(ngModel)]="normLanguage"
                [disabled]="!editable"
              ></p-selectButton>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-sm-4 col-form-label"
              i18n="@@string-descriptionDE-dataset"
              >Beschreibung de</label
            >
            <div class="col-sm-8">
              <textarea
                class="form-control"
                i18n-placeholder
                placeholder="Beschreibung de"
                required
                [(ngModel)]="descriptionDE"
                name="descriptionDE"
                [disabled]="!editable"
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-sm-4 col-form-label"
              i18n="@@string-descriptionEN-dataset"
              >Beschreibung en</label
            >
            <div class="col-sm-8">
              <textarea
                class="form-control"
                i18n-placeholder
                placeholder="Beschreibung en"
                [(ngModel)]="descriptionEN"
                name="descriptionEN"
                [disabled]="!editable"
                required
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-sm-4 col-form-label"
              i18n="@@string-descriptionFR-dataset"
              >Beschreibung fr</label
            >
            <div class="col-sm-8">
              <textarea
                class="form-control"
                i18n-placeholder
                placeholder="Beschreibung fr"
                [(ngModel)]="descriptionFR"
                name="descriptionFR"
                [disabled]="!editable"
              ></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label" i18n="@@string-scope-dataset"
              >Scope</label
            >
            <div class="col-sm-8">
              <textarea
                class="form-control"
                i18n-placeholder
                placeholder="Scope"
                [(ngModel)]="scope"
                name="scope"
                [disabled]="!editable"
              ></textarea>
            </div>
          </div>

          <div class="form-group row document-tags">
            <label class="col-sm-4 col-form-label" i18n="@@string-tags-dataset"
              >Tags</label
            >
            <div class="col-sm-8">
              <p i18n="@@string-tag-level1-dataset">Level 1 (Herausgeber)</p>
              <angular2-multiselect
                required
                name="tagsLevel1"
                [data]="tagsLevel1"
                [(ngModel)]="selectedTags1"
                [settings]="tagDropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
                [disabled]="!editable"
              >
                <c-badge>
                  <ng-template let-item="item">
                    <label class="badge {{ item.tagType }}">{{
                      item.name
                    }}</label>
                  </ng-template>
                </c-badge>
                <c-item>
                  <ng-template let-item="item">
                    <label class="{{ item.tagType }}"> {{ item.name }}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
              <p i18n="@@string-tag-level2-dataset">Level 2</p>
              <angular2-multiselect
                required
                name="tagsLevel2"
                [data]="tagsLevel2"
                [(ngModel)]="selectedTags2"
                [settings]="tagDropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
                [disabled]="!editable"
              >
                <c-badge>
                  <ng-template let-item="item">
                    <label class="badge {{ item.tagType }}">{{
                      item.name
                    }}</label>
                  </ng-template>
                </c-badge>
                <c-item>
                  <ng-template let-item="item">
                    <label class="{{ item.tagType }}"> {{ item.name }}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
              <p i18n="@@string-tag-level3-dataset">Level 3</p>
              <angular2-multiselect
                name="tagsLevel3"
                [data]="tagsLevel3"
                [(ngModel)]="selectedTags3"
                [settings]="tagDropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
                [disabled]="!editable"
              >
                <c-badge>
                  <ng-template let-item="item">
                    <label class="badge {{ item.tagType }}">{{
                      item.name
                    }}</label>
                  </ng-template>
                </c-badge>
                <c-item>
                  <ng-template let-item="item">
                    <label class="{{ item.tagType }}"> {{ item.name }}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="col-sm-6">
            <div class="form-group row">
              <label
                class="col-sm-4 col-form-label"
                i18n="@@string-status-dataset"
                >Status</label
              >
              <div class="col-sm-8">
                <p-selectButton
                  [options]="[
                    {
                      label: 'aktiv',
                      value: true
                    },
                    {
                      label: 'gesperrt',
                      value: false
                    }
                  ]"
                  name="active"
                  [(ngModel)]="active"
                  [disabled]="!editable"
                ></p-selectButton>
              </div>
            </div>
          </div>

          <hr />

          <div class="form-group row">
            <label
              class="col-sm-12 col-form-label text-left"
              i18n="@@string-normfileUpload-dataset"
              >Normdatei (PDF upload)</label
            >
            <div class="col-sm-12">
              <p-fileUpload
                #fileUploadInput
                [disabled]="normForm.invalid || !editable"
                name="files"
                (onSelect)="checkUpload($event, fileUploadInput)"
                accept="application/pdf"
                [showUploadButton]="false"
                [showCancelButton]="true"
                showButtons="true"
                chooseLabel="Norm wählen (PDF)"
              ></p-fileUpload>
              <p
                *ngIf="!normForm.valid"
                i18n="@@string-fillRecomendedFields-dataset"
              >
                Bitte erst die Pflichtfelder ausfüllen
              </p>
            </div>
          </div>

          <hr />

          <button
            type="button"
            (click)="getDownload(id, latestAttachmentName)"
            [disabled]="!editable"
            *ngIf="latestAttachmentName"
            title="{{ latestAttachmentName }}"
            class="btn btn-acp attachmentDownload"
          >
            <i class="fas fa-file-download"></i> Download Norm
          </button>

          <hr />

          <p-fieldset
            legend="Dokumenten Historie"
            [toggleable]="true"
            [transitionOptions]="'100ms'"
            [collapsed]="false"
          >
            <div *ngFor="let revDoc of revisionDocuments; let i = index">
              <a class="dynamic-link" (click)="getDownload(id, revDoc['name'])"
                ><i class="fas fa-file-download"></i> {{ revDoc['revisionID'] }}</a
              >

              <!-- Link to the server file
              <a
                *ngIf="revDoc['path']"
                href="{{ revDoc['path'] }}{{ id }}/{{ revDoc['name'] }}"
                target="_blank"
                title="{{ revDoc['name'] }}"
                class="text-left"
                download
                >{{
                  revDoc['name'].length > 15
                    ? (revDoc['name'] | slice: 0:15) + '...'
                    : revDoc['name']
                }}</a
              > -->

              <span style="float: right;">
                vom {{ revDoc['date'] | date: 'dd.MM.y' }}
              </span>
              <hr *ngIf="i < revisionDocuments.length - 1" />
            </div>
          </p-fieldset>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Referenzen" i18n="@@string-references-dataset">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label
              class="col-sm-2 col-form-label"
              i18n="@@string-related-dataset"
              >Referenzen</label
            >
            <div class="col-sm-10">
              <angular2-multiselect
                name="relatedNorms"
                [data]="relatedNorms"
                [(ngModel)]="selectedRelatedNorms"
                [settings]="relatedDropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
              >
                <c-item>
                  <ng-template let-item="item">
                    <label> {{ item.normNumber }}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="selectedRelatedNorms.length > 0">
        <div class="col-sm-6">
          <div class="row">
            <label
              class="col-sm-2 col-form-label"
              i18n="@@string-related-dataset"
              >Referenzen</label
            >
            <div class="col-sm-10">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nummer</th>
                    <th scope="col">Revison</th>
                    <th scope="col">Scope</th>
                    <th scope="col">Download</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="clickable"
                    *ngFor="let related of selectedRelatedNorms"
                    (click)="showRelated(related.id)"
                  >
                    <td>
                      {{ related.normNumber }}
                    </td>
                    <td>{{ related.revision }}</td>
                    <td>{{ related.scope }}</td>
                    <td>
                      <a
                        class="dynamic-link"
                        (click)="getDownload(related.id, related.normNumber)"
                        >Download <i class="fas fa-file-download"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="User">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" i18n="@@string-owner-dataset"
              >Owner</label
            >
            <div class="col-sm-10">
              <select
                class="form-control"
                [(ngModel)]="ownerId"
                name="ownerId"
                [disabled]="!editable"
              >
                <option value="" selected="selected">Owner wählen</option>
                <option
                  *ngFor="let owner of owners"
                  [value]="owner['_id']"
                  [selected]="owner['_id'] == ownerId"
                >
                  {{ owner['lastName'] }}, {{ owner['firstName'] }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" i18n="@@string-user-dataset"
              >Benutzer</label
            >
            <div class="col-sm-10">
              <angular2-multiselect
                name="users"
                [data]="users"
                [(ngModel)]="selectedUsers"
                [settings]="userDropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
              >
                <c-item>
                  <ng-template let-item="item">
                    <label> {{ item.name }}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Historie" i18n="@@string-history-dataset">
      Historie
    </p-tabPanel>
  </p-tabView>
</form>
