<ngx-spinner
  bdColor="rgba(255, 255, 255, 0.8)"
  size="small"
  color="#235780"
  type="square-spin"
>
  <p style="color: #235780">Lade Daten ...</p>
</ngx-spinner>
<div *ngIf="normDoc">
  <div class="row detail-edit-header">
    <div class="col-sm-4">
      <h1 *ngIf="normDoc.normNumber">{{ normDoc.normNumber }}</h1>
      <h1 *ngIf="!normDoc.normNumber" i18n="@@string-new">
        Datensatz erstellen
      </h1>
    </div>
    <div class="col-sm-8 text-right">
      <app-crud-nav
        [isNew]="isNew"
        [validForm]="normForm.valid"
        [dirtyForm]="normForm.dirty"
        [routeNew]="'/document/new'"
        [editable]="editable"
        [role]="currentUserRole"
        (save)="onSubmit()"
        (add)="onSubmit()"
        (edit)="onEdit()"
        (delete)="deleteDocument()"
        (cancle)="onCancle()"
        [readyToSave]="readyToSave"
      ></app-crud-nav>
    </div>
  </div>
  {{ isAdmin | json }}
  {{ isOwner | json }}
  <form class="form" (ngSubmit)="onSubmit()" #normForm="ngForm">
    <input type="hidden" [(ngModel)]="isNew" name="isNew" />
    <input type="hidden" [(ngModel)]="normDoc._id" name="_id" />
    <input type="hidden" [(ngModel)]="normDoc._rev" name="_rev" />
    <p-tabView
      [(activeIndex)]="selectedTab"
      (onChange)="selectedTab = $event.index"
    >
      <p-tabPanel header="Stammdaten">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label
                    for="normNumber"
                    class="col-sm-4 col-form-label"
                    i18n="@@string-norm-title"
                    >Bezeichnung</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      i18n-placeholder
                      placeholder="Nummer"
                      [(ngModel)]="normDoc.normNumber"
                      #normNumber="ngModel"
                      name="normNumber"
                      asciiInputValidator
                      required
                      [readOnly]="!editable"
                    />
                    <div
                      *ngIf="
                        normNumber.errors?.asciiInput?.notValid &&
                        normDoc.normNumber !== ''
                      "
                      class="alert alert-danger"
                      role="alert"
                    >
                      Bitte auf gültige Zeichen achten
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label
                class="col-sm-4 col-form-label"
                for="revisionDate"
                i18n="@@string-date"
                >Datum</label
              >
              <div class="col-sm-3">
                <p-calendar
                  [(ngModel)]="revisionDate"
                  [showIcon]="false"
                  [inline]="false"
                  dateFormat="dd.mm.yy"
                  id="revisionDate"
                  name="revisionDate"
                  required
                  [disabled]="!editable"
                ></p-calendar>
              </div>
              <div class="col-sm-5">
                <div class="form-group row">
                  <label
                    class="col-sm-4 col-form-label"
                    i18n="@@string-revision"
                    >Revision</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      i18n-placeholder
                      placeholder="Revision"
                      [(ngModel)]="normDoc.revision"
                      name="revision"
                      required
                      [readOnly]="!editable"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" i18n="@@string-language"
                >Sprache</label
              >
              <div class="col-sm-8">
                <p-selectButton
                  [options]="[
                    {
                      label: 'de',
                      value: 'de'
                    },
                    {
                      label: 'en',
                      value: 'en'
                    },
                    {
                      label: 'fr',
                      value: 'fr'
                    }
                  ]"
                  name="normLanguage"
                  [(ngModel)]="normDoc.normLanguage"
                  [disabled]="!editable"
                ></p-selectButton>
              </div>
            </div>

            <div class="form-group row">
              <label
                class="col-sm-4 col-form-label"
                i18n="@@string-descriptionDE"
                >Beschreibung de</label
              >
              <div class="col-sm-8">
                <textarea
                  class="form-control"
                  i18n-placeholder
                  placeholder="Beschreibung de"
                  [required]="
                    normDoc.normLanguage === 'en' ||
                    normDoc.normLanguage === 'de' ||
                    normDoc.normLanguage === 'fr'
                  "
                  [(ngModel)]="normDoc.description.de"
                  name="descriptionDE"
                  [disabled]="!editable"
                ></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label
                class="col-sm-4 col-form-label"
                i18n="@@string-descriptionEN"
                >Beschreibung en</label
              >
              <div class="col-sm-8">
                <textarea
                  class="form-control"
                  i18n-placeholder
                  placeholder="Beschreibung en"
                  [(ngModel)]="normDoc.description.en"
                  name="descriptionEN"
                  [disabled]="!editable"
                  [required]="
                    normDoc.normLanguage === 'en' ||
                    normDoc.normLanguage === 'de' ||
                    normDoc.normLanguage === 'fr'
                  "
                ></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label
                class="col-sm-4 col-form-label"
                i18n="@@string-descriptionFR"
                >Beschreibung fr</label
              >
              <div class="col-sm-8">
                <textarea
                  class="form-control"
                  i18n-placeholder
                  placeholder="Beschreibung fr"
                  [(ngModel)]="normDoc.description.fr"
                  name="descriptionFR"
                  [disabled]="!editable"
                  [required]="normDoc.normLanguage === 'fr'"
                ></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" i18n="@@string-scope"
                >Scope</label
              >
              <div class="col-sm-8">
                <textarea
                  required
                  class="form-control"
                  i18n-placeholder
                  placeholder="Scope"
                  [(ngModel)]="normDoc.scope"
                  name="scope"
                  [disabled]="!editable"
                ></textarea>
              </div>
            </div>

            <div class="form-group row document-tags">
              <label class="col-sm-4 col-form-label" i18n="@@string-tags"
                >Tags</label
              >
              <div class="col-sm-8">
                <p i18n="@@string-tag-level1">Level 1 (Herausgeber)</p>
                <angular2-multiselect
                  name="tagsLevel1"
                  [data]="tagsLevel1"
                  [(ngModel)]="selectedTags1"
                  [settings]="tagDropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAllTag1($event)"
                  required
                  [disabled]="!editable"
                >
                  <c-badge>
                    <ng-template let-item="item">
                      <label class="badge {{ item.tagType }}">{{
                        item.name
                      }}</label>
                    </ng-template>
                  </c-badge>
                  <c-item>
                    <ng-template let-item="item">
                      <label class="{{ item.tagType }}"> {{ item.name }}</label>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
                <p i18n="@@string-tag-level2">Level 2</p>
                <angular2-multiselect
                  required
                  name="tagsLevel2"
                  [data]="tagsLevel2"
                  [(ngModel)]="selectedTags2"
                  [settings]="tagDropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAllTag2($event)"
                  [disabled]="!editable"
                >
                  <c-badge>
                    <ng-template let-item="item">
                      <label class="badge {{ item.tagType }}">{{
                        item.name
                      }}</label>
                    </ng-template>
                  </c-badge>
                  <c-item>
                    <ng-template let-item="item">
                      <label class="{{ item.tagType }}"> {{ item.name }}</label>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
                <p i18n="@@string-tag-level3">Level 3</p>
                <angular2-multiselect
                  name="tagsLevel3"
                  [data]="tagsLevel3"
                  [(ngModel)]="selectedTags3"
                  [settings]="tagDropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAllTag3($event)"
                  [disabled]="!editable"
                >
                  <c-badge>
                    <ng-template let-item="item">
                      <label class="badge {{ item.tagType }}">{{
                        item.name
                      }}</label>
                    </ng-template>
                  </c-badge>
                  <c-item>
                    <ng-template let-item="item">
                      <label class="{{ item.tagType }}"> {{ item.name }}</label>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" i18n="@@string-processType"
                >Einteilung als</label
              >
              <div class="col-sm-8">
                <select
                  class="form-control"
                  [(ngModel)]="processTypeId"
                  name="processTypeId"
                  [disabled]="!editable"
                >
                  <option value="" selected="selected"
                    >Einteilung wählen</option
                  >
                  <option
                    *ngFor="let processType of processTypes"
                    [value]="processType['id']"
                    [selected]="processType['id'] === processTypeId"
                  >
                    {{ processType['name'] }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="col-sm-12">
              <div class="form-group row">
                <div class="col-sm-6">
                  <label i18n="@@string-status" class=" col-form-label"
                    >Status</label
                  >
                  <p-selectButton
                    [options]="[
                      {
                        value: true,
                        icon: 'fas fa-check-circle',
                        class: 'isActive'
                      },
                      {
                        value: false,
                        icon: 'fas fa-ban',
                        class: 'notActive'
                      }
                    ]"
                    name="active"
                    class="icon-p-selectButton"
                    [(ngModel)]="normDoc.active"
                    [disabled]="!editable"
                  ></p-selectButton>
                </div>
                <div class="col-sm-6" *ngIf="currentOwner">
                  <span i18n="@@string-responsible"
                    >Verantwortlicher:<br />
                  </span>

                  <span
                    >{{ currentOwner.lastName }},
                    {{ currentOwner.firstName }}</span
                  >
                </div>
              </div>
            </div>

            <hr />

            <div class="form-group row" *appIsGranted="'MAINTAIN'">
              <label
                class="col-sm-12 col-form-label text-left"
                i18n="@@string-normfileUpload"
                >Normdatei (PDF upload)</label
              >
              <div class="col-sm-12">
                <p-fileUpload
                  [ngClass]="{
                    'ng-invalid': !false,
                    'ng-valid': true,
                    required: false,
                    'w-100': true
                  }"
                  #fileUploadInput
                  [disabled]="normForm.invalid || !editable"
                  name="files"
                  (onSelect)="addPDFToNorm($event, fileUploadInput)"
                  accept="application/pdf"
                  [showUploadButton]="false"
                  [showCancelButton]="true"
                  showButtons="true"
                  chooseLabel="Norm wählen (PDF)"
                  required="true"
                >
                </p-fileUpload>
                <p *ngIf="!normForm.valid" i18n="@@string-fillRecomendedFields">
                  Bitte erst die Pflichtfelder ausfüllen
                </p>
              </div>
            </div>
            <hr *ngIf="latestAttachmentName" />
            <span *ngIf="normDoc.active">
              <button
                type="button"
                (click)="getDownload(normDoc._id, latestAttachmentName)"
                *ngIf="latestAttachmentName"
                title="{{ latestAttachmentName }}"
                class="btn btn-acp attachmentDownload"
              >
                <i class="fas fa-file-download"></i> Download Norm
              </button>
            </span>
            <hr *ngIf="latestAttachmentName" />
            <div *appIsGranted="'UPDATE'">
              <p-fieldset
                legend="Dokumenten Historie"
                [toggleable]="true"
                [transitionOptions]="'100ms'"
                [collapsed]="false"
                *ngIf="isAdmin || isOwner"
              >
                <table class="table" style="width: 100%;">
                  <tr *ngFor="let revDoc of revisionDocuments; let i = index">
                    <td style="width: 30%;">
                      {{ revDoc['revisionID'] }}
                    </td>
                    <td>
                      <a
                        class="dynamic-link"
                        (click)="changeRevisionState(revDoc['dateHash'])"
                        [style.pointer-events]="!editable ? 'none' : 'auto'"
                      >
                        <i
                          [ngStyle]="{
                            'font-size': '16px'
                          }"
                          [ngClass]="
                            revDoc['isActive']
                              ? 'fas fa-check-circle'
                              : 'fas fa-ban'
                          "
                          aria-hidden="true"
                        ></i
                      ></a>
                    </td>
                    <td>
                      <!-- *ngIf="revDoc['isActive'] || isAdmin" -->
                      <a
                        class="dynamic-link"
                        (click)="getDownload(normDoc._id, revDoc['name'])"
                        ><i class="fas fa-file-download"></i> Download
                      </a>
                    </td>
                    <td style="text-align: right;">
                      vom {{ revDoc['date'] | date: 'dd.MM.y / HH:mm' }}
                    </td>
                  </tr>
                </table>

                <div></div>
              </p-fieldset>
            </div>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Referenzen" i18n="@@string-references">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" i18n="@@string-related"
                >Referenzen wählen</label
              >
              <div class="col-sm-10">
                <angular2-multiselect
                  name="relatedNormsSelectList"
                  [data]="relatedNormsSelectList"
                  [(ngModel)]="selectedRelatedNorms"
                  [settings]="relatedDropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAllRelatedNorms($event)"
                >
                  <c-item>
                    <ng-template let-item="item">
                      <label> {{ item.normNumber }}</label>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="selectedRelatedNorms.length > 0">
          <div class="col-sm-12">
            <div class="row">
              <label class="col-sm-2 col-form-label" i18n="@@string-related"
                >Referenzen</label
              >
              <div class="col-sm-10">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" i18n="@@string-number">Nummer</th>
                      <th scope="col" i18n="@@string-revision">Revison</th>
                      <th scope="col" i18n="@@string-description">
                        Beschreibung
                      </th>
                      <th scope="col" i18n="@@string-download">Download</th>
                      <th scope="col" i18n="@@string-delete">Löschen</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let related of selectedRelatedNorms">
                      <td>
                        <a class="dynamic-link" (click)="goToNorm(related.id)"
                          ><i class="fas fa-link"></i>
                          {{ related.normNumber }}</a
                        >
                      </td>
                      <td>{{ related.revision }}</td>
                      <td>{{ related.description }}</td>
                      <td>
                        <a
                          *ngIf="related.normFileName"
                          class="dynamic-link"
                          (click)="
                            getDownload(related.id, related.normFileName)
                          "
                          ><i class="fas fa-file-download"></i>
                          Download
                        </a>
                      </td>
                      <td>
                        <button
                          type="button"
                          [disabled]="normForm.invalid || !editable"
                          class="btn dynamic-link "
                          (click)="deleteRelated(related.id)"
                        >
                          <i class="fas fa-trash"></i>
                          <span i18n="@@string-delete"> Löschen</span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row" *ngIf="relatedNormsFrom.length > 0">
          <div class="col-sm-12">
            <div class="row">
              <label class="col-sm-2 col-form-label" i18n="@@string-relatedFrom"
                >Referenziert von</label
              >
              <div class="col-sm-10">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" i18n="@@string-number">Nummer</th>
                      <th scope="col" i18n="@@string-revision">Revison</th>
                      <th scope="col" i18n="@@string-description">
                        Beschreibung
                      </th>
                      <th scope="col" i18n="@@string-download">Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let relatedFrom of relatedNormsFrom">
                      <td>
                        <a
                          class="dynamic-link"
                          (click)="goToNorm(relatedFrom.id)"
                          ><i class="fas fa-link"></i>
                          {{ relatedFrom.normNumber }}</a
                        >
                      </td>
                      <td>{{ relatedFrom.revision }}</td>
                      <td>{{ relatedFrom.description }}</td>
                      <td>
                        <a
                          *ngIf="relatedFrom.normFileName"
                          class="dynamic-link"
                          (click)="
                            getDownload(
                              relatedFrom.id,
                              relatedFrom.normFileName
                            )
                          "
                          ><i class="fas fa-file-download"></i> Download
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel header="User" *appIsGranted="'MAINTAIN'">
        <div class="row">
          <div class="col-sm-6">
            <div *appIsGranted="'MAINTAIN'" class="form-group row">
              <label class="col-sm-2 col-form-label" i18n="@@string-owner"
                >Owner</label
              >
              <div class="col-sm-10">
                <select
                  class="form-control"
                  [(ngModel)]="normDoc.owner"
                  name="owner"
                  [disabled]="!editable"
                >
                  <option value="" selected="selected">Owner wählen</option>
                  <option
                    *ngFor="let own of owners"
                    [value]="own['externalID']"
                    [selected]="own['externalID'] == normDoc.owner"
                  >
                    {{ own['lastName'] }}, {{ own['firstName'] }}
                  </option>
                </select>
              </div>
            </div>
            <!-- <div class="form-group row">
              <label class="col-sm-2 col-form-label" i18n="@@string-user"
                >Benutzer</label
              >
              <div class="col-sm-10">
                <angular2-multiselect
                  name="users"
                  [data]="users"
                  [(ngModel)]="selectedUsers"
                  [settings]="userDropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAllSelectedUsers($event)"
                >
                  <c-item>
                    <ng-template let-item="item">
                      <label> {{ item.name }} {{ item.externalID }}</label>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
              </div>
            </div>-->
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel
        header="Historie"
        i18n="@@string-history"
        *appIsGranted="'UPDATE'"
      >
        Historie
      </p-tabPanel>
    </p-tabView>
  </form>
</div>
