<div class="row detail-edit-header">
  <div class="col-sm-4">
    <h1 *ngIf="group?.name">{{ group?.name }}</h1>
    <h1 *ngIf="!group?.name" i18n="@@string-new">
      Datensatz erstellen
    </h1>
  </div>
  <div class="col-sm-8 text-right">
    <app-crud-nav
      [isNew]="isNew"
      [validForm]="groupForm.valid"
      [dirtyForm]="groupForm.dirty"
      [routeNew]="'/group/new'"
      [editable]="editable"
      [role]="authService.getUserRole()"
      (save)="onSubmit()"
      (add)="onSubmit()"
      (edit)="onEdit()"
      (delete)="onDelete()"
    ></app-crud-nav>
  </div>
</div>
<p-tabView>
  <p-tabPanel header="Stammdaten">
    <form
      class="form form-horizontal"
      (ngSubmit)="onSubmit()"
      #groupForm="ngForm"
    >
      <ng-container *ngIf="group"
        ><app-group-form
          [group]="group"
          [users]="users"
          [isNew]="isNew"
          [editable]="editable"
          [selectedUsers]="selectedUsers"
          [dropdownSettings]="dropdownSettings"
          (deselectAll)="onDeSelectAll($event)"
        ></app-group-form
      ></ng-container>
    </form>
  </p-tabPanel>
</p-tabView>
