<div class="row detail-edit-header">
  <div class="col-sm-4">
    <h1 *ngIf="name">{{ name }}</h1>
    <h1 *ngIf="!name" i18n="@@string-new-dataset">
      Datensatz erstellen
    </h1>
  </div>
  <div class="col-sm-8 text-right">
    <app-crud-nav
      [isNew]="isNew"
      [validForm]="groupForm.valid"
      [routeNew]="'/group/new'"
      (save)="onSubmit()"
      (add)="onSubmit()"
      (delete)="onDelete()"
    ></app-crud-nav>
  </div>
</div>
<p-tabView>
  <p-tabPanel header="Stammdaten">
    <form
      class="form form-horizontal"
      (ngSubmit)="onSubmit()"
      #groupForm="ngForm"
    >
      <input type="hidden" [(ngModel)]="isNew" name="isNew" />
      <input type="hidden" [(ngModel)]="id" name="_id" />
      <input type="hidden" [(ngModel)]="rev" name="_rev" />
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" i18n="@@string-Name"
              >Name</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                i18n-placeholder
                placeholder="Name"
                required
                [(ngModel)]="name"
                name="name"
                #nameCheck="ngModel"
              />
              <small
                class="form-text text-muted"
                i18n="@@string-name-required"
                *ngIf="!nameCheck.valid && nameCheck.touched"
                >Bitte geben Sie einen Namen ein.</small
              >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" i18n="@@string-benutzer"
              >Benutzer</label
            >
            <div class="col-sm-10">
              <!-- <p-multiSelect
                [options]="users"
                [(ngModel)]="selectedtUsers"
                name="selectedtUsers"
                [panelStyle]="{ minWidth: '12em' }"
              ></p-multiSelect>
              <p>Selected Cars: {{ selectedtUsers }}</p> -->

              <!-- <p-multiSelect
                [options]="users"
                [(ngModel)]="selectedtUsers"
                name="selectedtUsers"
                [panelStyle]="{ minWidth: '12em' }"
              >
                <ng-template let-value pTemplate="selectedItems">
                  <span
                    *ngFor="let val of value"
                    class="ui-multiselected-item-token ui-corner-all"
                  >
                    {{ val['label'] }}{{ val['value'] }}</span
                  >
                  <span
                    *ngIf="!value || value.length === 0"
                    class="ui-multiselected-empty-token ui-corner-all"
                    >Bitte wählen</span
                  >
                </ng-template>
                <ng-template let-user pTemplate="item">
                  <span>
                    {{ user.label }}
                  </span>
                </ng-template>
              </p-multiSelect>
              <p>Selected Cars: {{ selectedtUsers }}</p> -->

              <angular2-multiselect
                name="users"
                [data]="users"
                [(ngModel)]="selectedtUsers"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
              >
                <c-item>
                  <ng-template let-item="item">
                    <label> {{ item.name }}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>
            <!-- <select class="form-control" [(ngModel)]="users" name="users">
                  <option [ngValue]="undefined" disabled selected>User wählen</option>
                  <option
                    *ngFor="let user of users"
                    [value]="user._id"
                    [selected]="user._id == user"
                  >
                    {{ user.lastName }}, {{ user.firstName }}
                  </option>
                </select> -->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
              <p-selectButton
                [options]="[
                  {
                    label: 'aktiv',
                    value: true
                  },
                  {
                    label: 'gesperrt',
                    value: false
                  }
                ]"
                name="active"
                [(ngModel)]="active"
              ></p-selectButton>
            </div>
          </div>
        </div>
      </div>
    </form>
  </p-tabPanel>
</p-tabView>
