<div class="row detail-edit-header">
  <div class="col-sm-4">
    <h1 *ngIf="name">{{ name }}</h1>
    <h1 *ngIf="!name" i18n="@@string-new-dataset">
      Datensatz erstellen
    </h1>
  </div>
  <div class="col-sm-8 text-right">
    <app-crud-nav
      [formMode]="formMode"
      [validForm]="publisherForm.valid"
      [routeNew]="'/publisher/new'"
      (save)="onSubmit()"
      (add)="onSubmit()"
      (delete)="onDelete()"
    ></app-crud-nav>
  </div>
</div>
<p-tabView>
  <p-tabPanel header="Stammdaten">
    <form class="form" (ngSubmit)="onSubmit()" #publisherForm="ngForm">
      <input type="hidden" [(ngModel)]="formMode" name="formMode" />
      <input type="hidden" [(ngModel)]="id" name="_id" />
      <input type="hidden" [(ngModel)]="rev" name="_rev" />
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="name"
          required
          [(ngModel)]="name"
          name="name"
        />
      </div>

      <div class="checkbox">
        <label
          ><input
            type="checkbox"
            class="form-control"
            [(ngModel)]="active"
            name="active"
          />Aktiv ?</label
        >
      </div>
    </form>
  </p-tabPanel>
</p-tabView>
