<!-- Kopfbereich der Anwendung -->
<div class="header">
  <!-- Ausgabe von Meldungen -->
  <app-notifications></app-notifications>
  <p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
    [transitionOptions]="'60ms'"
  ></p-confirmDialog>
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <div class="header-company-icon ">
          <!-- Logo der Firma -->
          <img src="assets/images/LOGO_ACPUEB_weiss.png" />
          <!-- Name der Anwendung -->
          <p class="application-name">{{ this.title }}</p>
        </div>
      </div>
      <div class="col-4 float-right">
        <div class="header-application-icon">
          <img
            class=" application-icon"
            src="assets/images/100px-ACP-GRP_blau_normen_ohne_text.jpg"
          />
          <!-- <div *ngIf="user && user.fullName" class="user-name">
                  User: {{ user.fullName }}
                </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" *ngIf="authenticationService.isAuthenticated()">
    <!-- *ngIf="user && user.isValidUser == true" -->
    <p-menubar
      [model]="mainmenuItems"
      styleClass="main-menubar"
      [autoDisplay]="false"
    >
      <div>
        <span style="padding-right: 10px ;"
          ><i class="fas fa-user"></i> {{ userName }}</span
        >
        <p-button
          (onClick)="logout($event)"
          label="Logout"
          icon="fas fa-sign-out-alt"
        ></p-button>
      </div>
    </p-menubar>
  </div>
</div>
