<div class="btn-expand-collapse">
  <span class="nav-label">Auswahl Artikel</span>
  <span class="nav-button fa fa-chevron-left" (click)="toggleSidebar()"></span>
</div>

<p-table
  #dt
  [value]="documents"
  [paginator]="true"
  [rows]="13"
  class="table"
  [globalFilterFields]="['name', 'normNumber']"
  (onFilter)="onFilter($event)"
>
  <ng-template pTemplate="caption">
    <div style="text-align: center;">
      <i class="fa fa-search" style="margin:4px 6px 0 0;"></i>
      <input
        type="text"
        pInputText
        size="50"
        i18n-placeholder
        placeholder="Globale Suche"
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        style="width:auto"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th width="30"></th>

      <th [pSortableColumn]="'normNumber'">
        Nummer<p-sortIcon [field]="'normNumber'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'publisher'">
        Herausgeber
        <p-sortIcon [field]="'publisher'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'description'">
        Beschreibung<p-sortIcon [field]="'description'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'revision'">
        Revision<p-sortIcon [field]="'revision'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'revisionDate'">
        Revisionsdatum<p-sortIcon [field]="'revisionDate'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'owner'">
        Owner<p-sortIcon [field]="'owner'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-document>
    <tr>
      <td>
        <a class="fa fa-folder" (click)="showDetail(document._id)"></a>
      </td>
      <td>{{ document.normNumber }}</td>
      <td>
        <span *ngFor="let tag of document.tags">
          <span *ngIf="tag.tagType === 'level1'">{{ tag.name }}</span>
        </span>
      </td>
      <td>
        {{
          document.description.de.length > 40
            ? (document.description.de | slice: 0:40) + '...'
            : document.description.de
        }}
      </td>
      <td>{{ document.revision }}</td>
      <td>{{ document.revisionDate | date }}</td>
      <td>{{ document.owner.lastName }}, {{ document.owner.firstName }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-document>
    <div
      style="height:100px; font-size:90%; padding:10px"
      i18n="@@document-status-data-count"
    >
      Es {documentCount, plural, =0 {wurde keine Dokument gefunden} =1 {wurde 1
      Dokument gefunden} other { wurden {{ documentCount }} Dokumente gefunden
      }}
    </div>
  </ng-template>
</p-table>
