<div class="row">
  <div class="col">
    <h4>{{ formTitle }}</h4>
    <h5 *ngIf="normNumber">{{ normNumber }} - {{ name }}</h5>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col">
    <form class="form" (ngSubmit)="onCreate()" #normForm="ngForm">
      <div class="form-group">
        <select class="form-control" ngModel name="division">
          <option value="">Bereich wählen</option>
          <option
            *ngFor="let item of divisions"
            [value]="item._id"
            [selected]="item.id == id"
          >
            {{ item.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Nummer"
          [(ngModel)]="normNumber"
          name="normNumber"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          required
          [(ngModel)]="name"
          name="name"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Ausgabe / Revision"
          [(ngModel)]="revision"
          name="revision"
        />
      </div>
      <div class="form-group">
        <input
          type="date"
          class="form-control"
          placeholder="Ausgabedatum"
          [(ngModel)]="outputDate"
          name="outputDate"
        />
      </div>
      <div class="form-group">
        <input
          type="date"
          class="form-control"
          placeholder="Eingangsdatum ACP"
          [(ngModel)]="inputDate"
          name="inputDate"
        />
      </div>
      <div class="form-group">
        <input type="hidden" [(ngModel)]="normFilePath" name="normFilePath" />
        <input
          type="file"
          name="normFilePathTemp"
          ng2FileSelect
          [uploader]="uploader"
          [(ngModel)]="normFilePathTemp"
          name="normFilePathTemp"
        />
        <button
          type="button"
          class="btn btn-success btn-s"
          (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length"
        >
          Upload an Image
        </button>
      </div>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="owner" name="owner">
          <option value="">Owner wählen</option>
          <option
            *ngFor="let owner of owners"
            [value]="owner._id"
            [selected]="owner._id == owner"
          >
            {{ owner.lastName }}, {{ owner.firstName }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <select
          class="form-control"
          [(ngModel)]="activationInterval"
          name="activationInterval"
        >
          <option value="">Aktivierungs Intervall wählen</option>
          <option
            *ngFor="let activationIntervalItem of activationIntervals"
            [value]="activationIntervalItem"
            [selected]="activationIntervalItem == activationInterval"
          >
            {{ activationIntervalItem }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Bezugsquelle"
          [(ngModel)]="source"
          name="source"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Bezugsquelle Login"
          [(ngModel)]="sourceLogin"
          name="sourceLogin"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Bezugsquelle Passwort"
          [(ngModel)]="sourcePassword"
          name="sourcePassword"
        />
      </div>
      <div class="form-group">
        <label>Aktiv ?</label>
        <input
          type="checkbox"
          class="form-control"
          [(ngModel)]="active"
          name="active"
        />
      </div>

      <div class="form-group">
        <button class="btn btn-success" type="submit">
          Anlegen
        </button>
      </div>
    </form>
  </div>
</div>
