<div class="row">
  <div class="col-md-6">
    <h1 style="margin-bottom: 30px;">Willkommen {{ userName }}!</h1>

    <table class="table table-striped">
      <tr>
        <th scope="col" i18n="@@string-number">
          Nummer
        </th>
        <th scope="col" i18n="@@string-revision">Revision</th>
        <th scope="col" i18n="@@string-pdf">PDF</th>
        <th scope="col" i18n="@@string-revisionDate">Datum Revision</th>
      </tr>
      <tr *ngFor="let norm of norms">
        <td>
          <a class="js-link" (click)="gotoNorm(norm._id)"
            ><i class="fas fa-link"></i> {{ norm.normNumber }}
          </a>
        </td>
        <td>
          <a class="js-link" (click)="gotoNorm(norm._id)"
            ><i class="fas fa-exchange-alt"></i> {{ norm.revision }}</a
          >
        </td>
        <td>
          <span *ngIf="norm._attachments">
            <a
              class="js-link"
              (click)="getDownload(norm._id, norm._attachments)"
              ><i class="fas fa-file-download"></i> Download PDF</a
            >
          </span>
        </td>
        <td>
          <span *ngIf="norm['revisionLatest']">
            <i class="far fa-calendar"></i>
            {{ norm['revisionLatest']['date'] | date: 'dd.MM.yyyy' }}
          </span>
        </td>
      </tr>
    </table>

    <div class="form-check mb-2 mr-sm-2">
      <br />
    </div>
  </div>
</div>
