<div class="row">
  <div class="col-md-6">
    <div *ngIf="currentUser">
      <h1>
        Willkommen! {{ currentUser.firstName }} {{ currentUser.lastName }}
      </h1>

      <h2>Zu bestätigende Normen Updates</h2>

      <table class="table table-striped">
        <tr>
          <th scope="col">
            Nummer
          </th>
          <th scope="col">Revision</th>
          <th scope="col">PDF</th>
          <th scope="col">Received</th>
          <th scope="col">Confirm</th>
        </tr>
        <tr *ngFor="let associatedNorm of associatedNorms">
          <td>
            <a class="js-link" (click)="gotoNorm(associatedNorm.normId)">{{
              associatedNorm.normNumber
            }}</a>
          </td>
          <td>
            <a class="js-link" (click)="gotoNorm(associatedNorm.normId)">{{
              associatedNorm.revisionId
            }}</a>
          </td>
          <td>
            <a
              class="js-link"
              (click)="
                getDownload(associatedNorm.normId, associatedNorm.normDocument)
              "
              ><i class="fas fa-file-download"></i> Download PDF</a
            >
          </td>
          <td>
            {{ associatedNorm.date | date: 'dd.MM.yyyy' }}
          </td>
          <td>
            {{ associatedNorm.confirmed | json }}
            <button
              (click)="confirm(associatedNorm.normId)"
              class="btn btn-default"
              *ngIf="!associatedNorm.confirmed"
            >
              <i class="fas fa-clipboard-check"></i> confirm
            </button>
            <span *ngIf="associatedNorm.confirmed">{{
              associatedNorm.confirmedDate | date: 'dd.MM.yyyy'
            }}</span>
          </td>
        </tr>
      </table>

      <div class="form-check mb-2 mr-sm-2">
        <br />
      </div>

      {{ currentUser | json }}
    </div>
  </div>
</div>
