<div class="col">
  <a class="btn btn-success" [routerLink]="['/document/new']">Neues Document</a>
</div>
<hr />
<div class="col">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Bereich</th>
        <th>Nummer</th>
        <th>Name</th>
        <th>Revision</th>
        <th>Revisionsdatum</th>
        <th>Eingangsdatum ACP</th>
        <th>Owner</th>
        <th>User</th>
        <th>Optionen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents | async">
        <!-- <td>
          {{ document.division }}
        </td> -->
        <td>{{ document.number }}</td>
        <td>{{ document.name }}</td>
        <td>{{ document.revision }}</td>
        <td>{{ document.outputDate | date }}</td>
        <td>{{ document.inputDate | date }}</td>
        <td>{{ document.owner }}</td>
        <!-- <td>{{ document.users }}</td> -->
        <td>
          <a
            [routerLink]="'../' + [document._id] + '/edit'"
            class="btn btn-primary"
            >Bearbeiten</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
