<div class="col">
  <a class="btn btn-success" [routerLink]="['/document/new']">Neues Document</a>
</div>
<hr />
<div class="col">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Bereich</th>
        <th>Nummer</th>
        <th>Name</th>
        <th>Revision</th>
        <th>Revisionsdatum</th>
        <th>Eingangsdatum ACP</th>
        <th>Owner</th>
        <th>User</th>
        <th>Optionen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents">
        <td>
          {{ document.division.name }}
        </td>
        <td>
          <a
            *ngIf="document.normFilePath"
            href="{{ document.normFilePath.replace('./src', '') }}"
            target="_blank"
            >{{ document.number }}</a
          >
          <!--  <a
            *ngIf="document.normFilePath"
            href="{{
              document.normFilePath.replace('./dist/wakandaAngular', '')
            }}"
            target="_blank"
            >{{ document.number }}</a
          > -->
          <span *ngIf="!document.normFilePath">{{ document.number }}</span>
        </td>
        <td>{{ document.name }}</td>
        <td>{{ document.revision }}</td>
        <td>{{ document.outputDate | date }}</td>
        <td>{{ document.inputDate | date }}</td>
        <td>
          <span *ngIf="document.owner.lastName"
            >{{ document.owner.lastName }}, {{ document.owner.firstName }}</span
          >
        </td>
        <td>
          <p *ngFor="let user of document.users">
            {{ user.lastName }}, {{ user.firstName }}
          </p>
        </td>
        <td>
          <a
            [routerLink]="'../' + [document._id] + '/edit'"
            class="btn btn-primary"
            >Bearbeiten</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
