<div class="col">
  <h4>{{ formTitle }}</h4>
  <h5 *ngIf="name">{{ name }}</h5>
</div>
<hr />
<div class="col">
  <form class="form" (ngSubmit)="onSubmit()" #divisionForm="ngForm">
    <input type="hidden" [(ngModel)]="formMode" name="formMode" />
    <input type="hidden" [(ngModel)]="id" name="_id" />
    <input type="hidden" [(ngModel)]="rev" name="_rev" />
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="name"
        required
        [(ngModel)]="name"
        name="name"
      />
    </div>

    <div class="checkbox">
      <label
        ><input
          type="checkbox"
          class="form-control"
          [(ngModel)]="active"
          name="active"
        />Aktiv ?</label
      >
    </div>

    <hr />

    <div class="form-group">
      <button class="btn btn-success" type="submit">
        {{ formMode ? 'Aktualisieren' : 'Erstellen' }}
      </button>
    </div>
  </form>
</div>
