<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 well well-sm">
      <div class="card">
        <div class="card-body">
          <form
            class="form-inline"
            (ngSubmit)="onSubmit()"
            #searchForm="ngForm"
          >
            <h2 class="panel-headline">
              <span class="fa fa-newspaper-o" style="margin: 0 20px 0 0px; ">
              </span
              >Normen
            </h2>
            <label class="form-label">Herausgeber</label>
            <select
              class="form-control"
              [(ngModel)]="publisherId"
              name="publisherId"
            >
              <option [ngValue]="null" selected="selected"
                >Herausgeber wählen</option
              >
              <option *ngFor="let item of publishers" [value]="item['_id']">
                {{ item['name'] }}
              </option>
            </select>
            <!-- <label class="form-label">User</label>
          <select class="form-control" [(ngModel)]="userId" name="userId">
            <option [value]="undefined" selected="selected"
              >Benutzer wählen </option
            ><option *ngFor="let item of users" [value]="item._id">
              {{ item.lastName }}, {{ item.firstName }}
            </option>
          </select> -->

            <!--  <label class="form-label">Gruppe</label>
          <select class="form-control" [(ngModel)]="groupId" name="groupId">
            <option [value]="undefined" selected="selected"
              >Gruppe wählen</option
            >
            <option *ngFor="let item of groups" [value]="item._id">
              {{ item.name }}
            </option>
          </select> -->

            <label class="form-label">Owner</label>
            <select class="form-control" [(ngModel)]="ownerId" name="ownerId">
              <option [ngValue]="null" selected="selected">Owner wählen</option>
              <option
                *ngFor="let owner of owners"
                [value]="owner['_id']"
                [selected]="owner['_id'] == owner"
              >
                {{ owner['lastName'] }}, {{ owner['firstName'] }}
              </option>
            </select>

            <button class="btn btn-default" type="submit">
              Suche
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" *ngIf="foundDocuments">
    <h4>Gefundene Normen</h4>
    <hr />
    <p-dialog header="{{ modalTitle }}" [(visible)]="display">
      <div [innerHTML]="modalContent"></div>
    </p-dialog>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Bereich</th>
          <th>Nummer</th>
          <th>Name</th>
          <th>Revision</th>
          <th>Revisionsdatum</th>
          <th>Eingangsdatum ACP</th>
          <th>Owner</th>
          <th>User</th>
          <th>Optionen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of foundDocuments">
          <td>{{ item['publisher'] }}</td>
          <td>
            <a
              *ngIf="item['normFilePath']"
              href="{{ item['normFilePath'].replace('./src', '') }}"
              target="_blank"
              >{{ item['number'] }}</a
            >
          </td>
          <td>{{ item['name'] }}</td>
          <td>{{ item['revision'] }}</td>
          <td>{{ item['outputDate'] | date: 'dd.MM.y' }}</td>
          <td>{{ item['inputDate'] | date: 'dd.MM.y' }}</td>
          <td>{{ item['owner'] }}</td>
          <td>
            <button
              type="button"
              (click)="showDialog(item['fetchedUser'])"
              pButton
              icon="pi pi-eye"
            ></button>
          </td>
          <td>
            <a
              [routerLink]="'../document/' + [item['_id']] + '/edit'"
              class="btn btn-primary"
              >Bearbeiten</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
