<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 well well-sm">
      <div class="card">
        <div class="card-body">
          <form
            class="form-inline"
            (ngSubmit)="onSubmit()"
            #searchForm="ngForm"
          >
            <h1 class="search-title panel-headline">
              <span class="fa fa-newspaper-o" style="margin: 0 20px 0 0px; ">
              </span
              >Normen
            </h1>
            <label class="form-label">Herausgeber</label>
            <div class="document-tags searchbar-tags">
              <angular2-multiselect
                name="tags"
                [data]="tags"
                [(ngModel)]="selectedTags"
                [settings]="tagDropdownSettings"
                style="width: 150px;"
                (onDeSelectAll)="onDeSelectAll($event)"
              >
                <c-badge>
                  <ng-template let-item="item">
                    <label class="badge {{ item.tagType }}">{{
                      item.name
                    }}</label>
                  </ng-template>
                </c-badge>
                <c-item>
                  <ng-template let-item="item">
                    <label class="{{ item.tagType }}"> {{ item.name }}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>
            <!-- <select
              class="form-control"
              [(ngModel)]="publisherId"
              name="publisherId"
            >
              <option [ngValue]="null" selected="selected"
                >Herausgeber wählen</option
              >
              <option *ngFor="let item of publishers" [value]="item['_id']">
                {{ item['name'] }}
              </option>
            </select> -->

            <label class="form-label">Owner</label>
            <select class="form-control" [(ngModel)]="ownerId" name="ownerId">
              <option [ngValue]="null" selected="selected">Owner wählen</option>
              <option
                *ngFor="let owner of owners"
                [value]="owner['_id']"
                [selected]="owner['_id'] == owner"
              >
                {{ owner['lastName'] }}, {{ owner['firstName'] }}
              </option>
            </select>
            <div class="form-check mb-2 mr-sm-2">
              <p-checkbox
                name="activeNorms"
                binary="true"
                [(ngModel)]="activeNorms"
                label="nur aktive Datensätze"
                labelStyleClass="form-label"
              ></p-checkbox>
            </div>
            <button class="btn btn-default" type="submit">
              Suche
            </button>

            <!-- <label class="form-label">User</label>
                      <select class="form-control" [(ngModel)]="userId" name="userId">
                        <option [value]="undefined" selected="selected"
                          >Benutzer wählen </option
                        ><option *ngFor="let item of users" [value]="item._id">
                          {{ item.lastName }}, {{ item.firstName }}
                        </option>
                      </select> -->

            <!--  <label class="form-label">Gruppe</label>
                      <select class="form-control" [(ngModel)]="groupId" name="groupId">
                        <option [value]="undefined" selected="selected"
                          >Gruppe wählen</option
                        >
                        <option *ngFor="let item of groups" [value]="item._id">
                          {{ item.name }}
                        </option>
                      </select> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
