<div class="form-group">
  <button
    pButton
    type="button"
    icon="fas fa-file"
    iconPos="left"
    label="Neu"
    i18n-label="@@btn-new"
    class="btn btn-default btn-sm btn-headline"
    (click)="onCreate()"
    *ngIf="!editable && role === 'admin'"
  ></button>

  <button
    pButton
    type="submit"
    icon="fas fa-check"
    iconPos="left"
    label="Erstellen"
    i18n-label="@@btn-new"
    class="btn btn-default btn-sm btn-headline"
    (click)="onSubmit()"
    *ngIf="isNew && editable && role === 'admin'"
    [disabled]="!validForm"
    [ngClass]="{ 'ready-save-btn': dirtyForm && validForm }"
  ></button>

  <button
    pButton
    type="submit"
    icon="fas fa-times-circle"
    iconPos="left"
    label="Abrechen"
    i18n-label="@@btn-cancle"
    class="btn btn-default btn-sm btn-headline"
    (click)="onCancle()"
    *ngIf="!isNew && editable && role === 'admin'"
  ></button>

  <button
    pButton
    type="submit"
    icon="fas fa-save"
    iconPos="left"
    label="Änderungen speichern"
    i18n-label="@@btn-new"
    class="btn btn-default btn-sm btn-headline"
    (click)="onSubmit()"
    *ngIf="!isNew && editable && (role === 'admin' || role === 'owner')"
    [disabled]="!validForm"
    [ngClass]="{ 'ready-save-btn': (dirtyForm && validForm) || readyToSave }"
  ></button>

  <button
    pButton
    type="button"
    icon="fas fa-pen"
    iconPos="left"
    i18n-label="@@btn-edit"
    class="btn btn-default btn-sm btn-headline"
    label="Bearbeiten"
    *ngIf="!editable && role === 'admin'"
    (click)="onEdit()"
  ></button>

  <button
    pButton
    type="button"
    icon="fas fa-trash"
    iconPos="left"
    label="Löschen"
    (click)="onDelete()"
    class="btn btn-default btn-sm btn-headline"
    i18n-label="@@btn-delete"
    *ngIf="!editable && role === 'admin'"
  ></button>
</div>
