<div class="info-panel position-top">
  <h1 i18n="@@string-user-selection">Auswahl Benutzer</h1>
</div>

<p-table
  #dt
  [value]="users"
  [paginator]="true"
  [rows]="13"
  class="table"
  selectionMode="single"
  [(selection)]="selectedUser"
  (onRowSelect)="onRowSelect($event)"
  [globalFilterFields]="['firstName', 'lastName']"
  (onFilter)="onFilter($event)"
>
  <ng-template pTemplate="caption">
    <div style="text-align: center;">
      <i class="fas fa-search" style="margin:4px 6px 0 0;"></i>
      <input
        type="text"
        pInputText
        size="50"
        i18n-placeholder
        placeholder="Globale Suche"
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        style="width:auto"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'firstName'">
        Vorname
        <p-sortIcon [field]="'firstName'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'lastName'">
        Nachname<p-sortIcon [field]="'lastName'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'email'">
        E-Mail<p-sortIcon [field]="'email'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr [pSelectableRow]="user">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </ng-template>
</p-table>
<div class="info-panel position-bottom">
  <p i18n="@@user-status-data-count" *ngIf="userCount">
    Es {userCount, plural, =0 {wurde keine Benutzer gefunden} =1 {wurde 1
    Benutzer gefunden} other { wurden {{ userCount }} Benutzer gefunden }}
  </p>
</div>
