body {
  .ui-button {
    background-color: theme-color('primary');
    border: 1px solid theme-color('primary');

    &:enabled:hover {
      color: $text-base-color;
      background-color: $btn-bg-hover-color;
      border-color: $panel-border-color;
    }
  }

  .ui-button-secondary-outline {
    color: $text-base-color;
    background-color: $white;
    border: 1px solid $btn-bg-color;
  }

  .ui-menubar-custom {
    button {
      background-color: theme-color('primary-light');
    }
  }

  .ui-selectbutton .ui-button.ui-state-active {
    background-color: theme-color('primary-light');
    border-color: theme-color('primary-light');
    color: $white;
  }

  .ui-fileupload {
    .ui-fileupload-buttonbar {
      .ui-button {
        margin-right: 0;
      }
      .ui-fileupload-choose {
        background-color: transparent;
        border-color: theme-color('primary');
        color: theme-color('primary');
        margin-right: 10px;
      }
    }
  }

  .icon-p-selectButton {
    margin-left: 25px;
    width: auto;
    .ui-state-disabled,
    .ui-widget:disabled {
      opacity: 0.8;
    }
    .ui-selectbutton {
      .ui-button {
        background-color: transparent;
        border: 0px;
        font-size: 1rem;

        .fa-check-circle {
          color: theme-color('acp-green');
          opacity: 0.4;
        }
        .fa-ban {
          color: theme-color('acp-red');
          opacity: 0.4;
        }

        &.ui-state-active {
          background-color: transparent;

          .fa-check-circle {
            color: theme-color('acp-green');
            opacity: 1;
          }
          .fa-ban {
            color: theme-color('acp-red');
            opacity: 1;
          }

          &.ui-state-disabled {
            .fa-check-circle {
              color: theme-color('acp-green');
            }
            .fa-ban {
              color: theme-color('acp-red');
            }
          }
        }

        &:not(.ui-state-disabled):not(.ui-state-active):hover {
          background-color: transparent;
          .fa-check-circle {
            color: theme-color('acp-green');
          }
          .fa-ban {
            color: theme-color('acp-red');
          }
        }

        &.ui-state-active:not(.ui-state-disabled):hover .ui-button-icon-left {
          background-color: transparent;
          &.fa-check-circle {
            color: theme-color('acp-green');
          }
          &.fa-ban {
            color: theme-color('acp-red');
          }
        }

        &.ui-state-active:not(.ui-state-disabled):hover {
          background-color: transparent;
        }

        &.ui-state-active .ui-button-icon-right {
        }
      }
    }
  }
}
