body {
  .ui-button {
    background-color: theme-color('primary');
    border: 1px solid theme-color('primary');
  }

  .ui-button-secondary-outline {
    color: #333333;
    background-color: $white;
    border: 1px solid #f4f4f4;
  }

  .ui-menubar-custom {
    button {
      background-color: theme-color('primary-light');
    }
  }
}
