body {
  app-login input {
    width: 80%;
  }

  .ui-calendar {
    .ui-inputtext {
      width: 100%;
    }
  }

  .ui-tabview-panel .ui-inputtext {
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: 0.429em;
    border: 1px solid #ced4da;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @extend .form-control;
  }

  .ui-chkbox {
    float: left;
    margin-right: 10px !important;

    .ui-chkbox-box.ui-state-active {
      border-color: theme-color('primary');
      background-color: theme-color('primary');
      color: $white;
    }
  }

  .checkbox {
    input {
      width: auto;
      height: auto;
    }
  }

  input[type='date'].form-control,
  input[type='datetime-local'].form-control,
  input[type='month'].form-control,
  input[type='time'].form-control {
    line-height: 1.2rem !important;
  }

  .ui-state-disabled {
    cursor: not-allowed !important;
  }

  .c-btn {
    background: $btn-background;
    border: 1px solid $btn-border;
    color: $btn-text-color;

    &.disabled {
      cursor: not-allowed;
      background: $input-disabled-background;
    }
  }
  .selected-list {
    .c-list {
      .c-token {
        background: $token-background;
        .c-label {
          color: $token-text-color;
        }
        .c-remove {
          svg {
            fill: $token-remove-color;
          }
        }
      }
    }
    .c-angle-down,
    .c-angle-up {
      svg {
        fill: $btn-arrow;
      }
    }
  }
  .dropdown-list {
    ul {
      li:hover {
        background: $list-hover-background;
      }
    }
  }
  .arrow-up,
  .arrow-down {
    border-bottom: 15px solid #fff;
  }

  .arrow-2 {
    border-bottom: 15px solid #ccc;
  }
  .list-area {
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0px 1px 5px $box-shadow-color;
  }
  .select-all {
    border-bottom: 1px solid #ccc;
  }
  .list-filter {
    border-bottom: 1px solid #ccc;
    .c-search {
      svg {
        fill: #888;
      }
    }
    .c-clear {
      svg {
        fill: #888;
      }
    }
  }

  .pure-checkbox {
    input[type='checkbox']:focus + label:before,
    input[type='checkbox']:hover + label:before {
      border-color: $base-color;
      background-color: #f2f2f2;
    }
    input[type='checkbox'] + label {
      color: $label-color;
    }
    input[type='checkbox'] + label:before {
      color: $base-color;
      border: 1px solid $base-color;
    }
    input[type='checkbox'] + label:after {
      background-color: $base-color;
    }
    input[type='checkbox']:disabled + label:before {
      border-color: #cccccc;
    }
    input[type='checkbox']:disabled:checked + label:before {
      background-color: #cccccc;
    }
    input[type='checkbox'] + label:after {
      border-color: #ffffff;
    }
    input[type='radio']:checked + label:before {
      background-color: white;
    }
    input[type='checkbox']:checked + label:before {
      background: $base-color;
    }
  }
  .single-select-mode .pure-checkbox {
    input[type='checkbox']:focus + label:before,
    input[type='checkbox']:hover + label:before {
      border-color: $base-color;
      background-color: #f2f2f2;
    }
    input[type='checkbox'] + label {
      color: $label-color;
    }
    input[type='checkbox'] + label:before {
      color: transparent !important;
      border: 0px solid $base-color;
    }
    input[type='checkbox'] + label:after {
      background-color: transparent !important;
    }
    input[type='checkbox']:disabled + label:before {
      border-color: #cccccc;
    }
    input[type='checkbox']:disabled:checked + label:before {
      background-color: #cccccc;
    }
    input[type='checkbox'] + label:after {
      border-color: $base-color;
    }
    input[type='radio']:checked + label:before {
      background-color: white;
    }
    input[type='checkbox']:checked + label:before {
      background: none !important;
    }
  }
  .selected-item {
    background: $selected-background;
  }
  .btn-iceblue {
    background: $base-color;
    border: 1px solid $btn-border;
    color: #fff;
  }
}
