<div class="row detail-edit-header">
  <div class="col-sm-4">
    <h1 *ngIf="firstName || lastName">{{ firstName }} {{ lastName }}</h1>
    <h1 *ngIf="!firstName || !lastName" i18n="@@string-new-dataset">
      Datensatz erstellen
    </h1>
  </div>
  <div class="col-sm-8 text-right">
    <app-crud-nav
      [isNew]="isNew"
      [validForm]="userForm.valid"
      [dirtyForm]="userForm.dirty"
      [routeNew]="'/user/new'"
      [editable]="editable"
      (save)="onSubmit()"
      (add)="onSubmit()"
      (edit)="onEdit()"
      (delete)="onDelete()"
    ></app-crud-nav>
  </div>
</div>
<p-tabView>
  <p-tabPanel header="Stammdaten">
    <form
      class="form form-horizontal"
      (ngSubmit)="onSubmit()"
      #userForm="ngForm"
    >
      <input type="hidden" [(ngModel)]="isNew" name="isNew" />
      <input type="hidden" [(ngModel)]="id" name="_id" />
      <input type="hidden" [(ngModel)]="rev" name="_rev" />
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" i18n="@@string-firstName"
              >Vorname</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                i18n-placeholder
                placeholder="Vorname"
                required
                [(ngModel)]="firstName"
                name="firstName"
                #firstNameCheck="ngModel"
                [readOnly]="!editable"
              />
              <small
                class="form-text text-muted"
                i18n="@@string-lastName-required"
                *ngIf="!firstNameCheck.valid && firstNameCheck.touched"
                >Bitte geben Sie einen Vornamen ein.</small
              >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" i18n="@@string-lastName"
              >Nachname</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                i18n-placeholder
                placeholder="Nachname"
                required
                [(ngModel)]="lastName"
                name="lastName"
                #lastNameCheck="ngModel"
                [readOnly]="!editable"
              />
              <small
                class="form-text text-muted"
                i18n="@@string-lastName-required"
                *ngIf="!lastNameCheck.valid && lastNameCheck.touched"
                >Bitte geben Sie einen Nachnamen ein.</small
              >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" i18n="@@string-email"
              >E-Mail</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                i18n-placeholder
                placeholder="E-Mail"
                required
                email
                [(ngModel)]="email"
                name="email"
                #emailCheck="ngModel"
                [readOnly]="!editable"
              />
              <small
                class="form-text text-muted"
                i18n="@@string-email-required"
                *ngIf="!emailCheck.valid && emailCheck.touched"
                >Bitte geben Sie eine gültige E-Mail Adresse ein.</small
              >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" i18n="@@string-role-dataset"
              >Rolle</label
            >

            <div class="col-sm-10">
              <select
                class="form-control"
                [(ngModel)]="selectedRole"
                name="selectedRole"
                [disabled]="!editable"
              >
                <option [value]="undefined" selected="selected"
                  >Rolle wählen</option
                >
                <option
                  *ngFor="let role of roleValues"
                  [value]="role['value']"
                  [selected]="role['value'] == selectedRole"
                >
                  {{ role['value'] }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
              <p-selectButton
                [options]="[
                  {
                    label: 'aktiv',
                    value: true
                  },
                  {
                    label: 'gesperrt',
                    value: false
                  }
                ]"
                name="active"
                [(ngModel)]="active"
                [disabled]="!editable"
              ></p-selectButton>
            </div>
          </div>
        </div>
      </div>
    </form>
  </p-tabPanel>
</p-tabView>
