<div class="form-group">
  <button
    pButton
    type="submit"
    icon="fa fa-check"
    iconPos="left"
    label="{{ formMode ? 'Aktualisieren' : 'Erstellen' }}"
    i18n-label="@@btn-new"
    class="btn btn-default btn-sm btn-headline"
    (click)="onSubmit()"
    *ngIf="editable"
    [disabled]="!validForm"
    [ngClass]="{ 'ready-save-btn': dirtyForm }"
  ></button>

  <button
    pButton
    type="button"
    icon="fa fa-file-o"
    iconPos="left"
    label="Neu"
    i18n-label="@@btn-new"
    class="btn btn-default btn-sm btn-headline"
    (click)="onCreate()"
    *ngIf="formMode"
  ></button>
  <button
    pButton
    type="button"
    icon="fa fa-pencil"
    iconPos="left"
    i18n-label="@@btn-edit"
    class="btn btn-default btn-sm btn-headline"
    label="Bearbeiten"
    *ngIf="!editable"
    (click)="onEdit()"
  ></button>
  <button
    type="button"
    (click)="onDelete()"
    [disabled]="!editable"
    class="btn btn-default"
    i18n-label="@@btn-delete"
    *ngIf="formMode"
  >
    Löschen
  </button>
</div>
